<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>All users</h1>
<table border="1">
    <tr>
        <th width="100">ID</th>
        <th width="100">Name</th>
        <th width="100">Age</th>
        <th width="100">Edit</th>
        <th width="100">Delete</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">ID</td>
        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td><a th:href="@{/user/{id}/edit(id=${user.getId()})}">edit</a></td>
        <td>
            <form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
</table>
<h3>Add User</h3>
<form th:method="POST" th:action="@{/user}" th:object="${userToAdd}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <p>Minimum name length is 2. Maximum is 20.</p>
    <label for="age">Age:</label>
    <input type="number" min="0" th:field="*{age}" id="age"/>
    <p>Minimum age is 0.</p>
    <input type="submit" name="submitAddition" value="Add User"/>
</form>
</body>
</html>